@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #09090b;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b; 
}

::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}
